<template>
  <div>
    <div class="row mb-2" v-if="cartStore.totalCost < minPurchaseMount">
      <div class="col-12">
        <div class="alert alert-message alert-warning alert-light alert-btn">
          <h4 class="alert-title">Atención</h4>
          <p>
            Agregue
            {{ formatterCurrency(minPurchaseMount - cartStore.totalCost) }} para
            alcanzar el monto mínimo de compra. Ir al
            <a href="/catalogue">catálogo</a>.
          </p>
        </div>
      </div>
    </div>
    <table class="shop-table cart-table">
      <thead>
        <tr>
          <th style="width: 10%;"><span>Producto</span></th>
          <th style="width: 20%;"></th>
          <th style="width: 20%;"><span>Precio</span></th>
          <th><span>Cantidad</span></th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, index) in cartStore.items" :key="index">
          <td class="product-thumbnail" style="width: 10%;">
            <figure>
              <a :href="`/catalogue/product/${product.id}`">
                <img
                  :src="`${
                    product.options.image
                      ? ('/api/file/' + product.options.image)
                      : `dist/images/not-image.svg`
                  }`"
                  width="80"
                  height="80"
                  alt="product"
                />
              </a>
            </figure>
          </td>
          <td class="product-name" style="width: 25%;">
            <div class="product-name-section">
              <a :href="`/catalogue/product/${product.id}`">{{
                `${product.name}`
              }}</a>
            </div>
            <div
              style="font-weight: normal; font-size: 0.9em"
              v-if="product.options.bulk_items > 1"
            >
              {{ `Bulto por ${product.options.bulk_items} un.` }} <br />
            </div>
          </td>
          <td class="product-subtotal" style="width: 25%;">
            <span class="amount">{{ formatterCurrency(product.price) }}</span>
            <div
              style="font-weight: normal; font-size: 0.8em"
              v-if="product.options.bulk_items > 1"
            >
              {{ `Un: ${formatterCurrency(product.options.bulk_unit_price)}` }}
            </div>
          </td>
          <td class="product-quantity">
            <div class="input-group">
              <button
                class="quantity-minus d-icon-minus"
                :disabled="product.qty == 1"
                @click="discount(product.rowid)"
              ></button>
              <span style="padding:10px;">{{ product.qty }}</span>
              <!-- <input
                disabled
                class="quantity form-control"
                type="text"
                min="1"
                v-model="product.qty"
                max="1000000"
              /> -->
              <button
                class="quantity-plus d-icon-plus"
                @click="increase(product.rowid)"
              ></button>
            </div>
          </td>
          <td class="product-price">
            <span class="amount">
              {{ formatterCurrency(product.qty * product.price) }}
            </span>
          </td>
          <td class="product-close">
            <a
              href="#"
              @click="cartStore.removeItem(product.rowid)"
              class="product-remove"
              title="Remove this product"
            >
              <i class="fas fa-times"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup>
import useCartStore from "../../stores/cart";
import {
  ref,
  onMounted,
  getCurrentInstance,
  computed,
  defineExpose,
} from "vue";

const props = defineProps({
  defaultCurrency: {
    type: String,
    required: true,
  },
  exchangeRate: {
    type: Number,
    required: true,
    default: 1,
  },
  minPurchaseMount: {
    type: Number,
    default: 0,
  },
});

const cartStore = useCartStore;

const emit = defineEmits([]);

const formatterCurrency = (val) => {
  return new Intl.NumberFormat("es-AR", {
    style: "currency",
    currency: props.defaultCurrency,
  }).format(val);
};

const discount = (rowid) => {
  let item = cartStore.items.find((el) => {
    return el.rowid == rowid;
  });

  item.qty -= 1;

  cartStore.updateItem(rowid, item);
};

const increase = (rowid) => {
  let item = cartStore.items.find((el) => {
    return el.rowid == rowid;
  });

  item.qty += 1;

  cartStore.updateItem(rowid, item);
};

onMounted(() => {
  let instance = getCurrentInstance();
});

defineExpose({});
</script>
