<template>
  <div class="dropdown cart-dropdown type2 off-canvas mr-0 mr-lg-2">
    <a href="#" class="cart-toggle label-block link">
      <div class="cart-label d-lg-show">
        <span class="cart-name">Carrito:</span>
        <span class="cart-price">{{ formatterCurrency(cartStore.totalCost) }}</span>
      </div>
      <i class="d-icon-bag"><span class="cart-count">{{ cartStore.totalItems }}</span></i>
    </a>
    <div class="canvas-overlay"></div>
    <!-- End Cart Toggle -->
    <div class="dropdown-box">
      <div class="canvas-header">
        <h4 class="canvas-title">Tu pedido</h4>
        <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">
          cerrar
          <i class="d-icon-arrow-right"></i>
          <span class="sr-only">Cart</span>
        </a>
      </div>
      <div v-if="cartStore.items.length > 0">
        <div class="products scrollable">
          <div class="product product-cart" v-for="(product, index) in cartStore.items" :key="index">
            <figure class="product-media">
              <a href="#">
                <img :src="`${product.options.image ? ('/api/file/' + product.options.image) : '/dist/images/not-image.svg'}`" alt="product"
                  width="80" height="88" />
              </a>
              <button class="btn btn-link btn-close" @click="cartStore.removeItem(product.rowid)">
                <i class="fas fa-times"></i><span class="sr-only">Close</span>
              </button>
            </figure>
            <div class="product-detail">
              <a href="#!" class="product-name">{{
                `${product.name} (x ${product.options.bulk_items})`
              }}</a>
              <div class="price-box">
                <span class="product-quantity">{{ product.qty }}</span>
                <span class="product-price">{{
                  formatterCurrency(product.price)
                }}</span>
              </div>
            </div>
          </div>
          <!-- End of Cart Product -->
        </div>
        <!-- End of Products  -->
        <div class="cart-total">
          <label>Subtotal:</label>
          <span class="price"> {{ formatterCurrency(cartStore.totalCost) }}</span>
        </div>
        <!-- End of Cart Total -->
        <div class="cart-action">
          <!-- <a href="/cart" class="btn btn-dark btn-link"></a> -->
          <a href="/cart" class="btn btn-dark"><span>Ver pedido</span></a>
        </div>
      </div>
      <div v-else>
        <div class="alert alert-info">
          No hay productos cargados en tu pedido.
        </div>
      </div>
      <!-- End of Cart Action -->
    </div>
    <!-- End Dropdown Box -->
  </div>
</template>

<script setup>
import useCartStore from "../../stores/cart";

import {
  ref,
  onMounted,
  getCurrentInstance,
  computed,
  defineExpose,
} from "vue";

const props = defineProps({
  defaultCurrency: {
    type: String,
    required: true,
  },
  exchangeRate: {
    type: Number,
    required: false,
    default: 1
  }
});
const cartStore = useCartStore;


const emit = defineEmits([]);

const formatterCurrency = (val) => {
  try {
    return new Intl.NumberFormat("es-AR", {
      style: "currency",
      currency: props.defaultCurrency,
    }).format(val);
  } catch (error) {
    return "Error";
  }

};

onMounted(() => {
  let instance = getCurrentInstance();
});

defineExpose({});
</script>
