<template>
  <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
    <div class="summary mb-4">
      <h3 class="summary-title text-left">Resumen pedido</h3>
      <table class="shipping">
        <tr class="summary-subtotal">
          <td>
            <h4 class="summary-subtitle">Total pedido</h4>
          </td>
          <td>
            <p class="summary-subtotal-price">
              {{ formatterCurrency(cartStore.totalCost) }}
            </p>
          </td>
        </tr>
        <tr class="sumnary-shipping shipping-row-last">
          <td colspan="2">
            <h4 class="summary-subtitle">Calcular envío</h4>
            <ul>
              <li>
                <div class="custom-radio">
                  <input
                    type="radio"
                    id="flat_rate"
                    name="shipping"
                    value="delivery"
                    class="custom-control-input"
                    v-model="shippingMethod"
                  />
                  <label class="custom-control-label" for="flat_rate"
                    >Envío a domicilio con expreso</label
                  >
                </div>
              </li>
              <li>
                <div class="custom-radio">
                  <input
                    type="radio"
                    id="local_pickup"
                    name="shipping"
                    value="pickup"
                    class="custom-control-input"
                    v-model="shippingMethod"
                  />
                  <label class="custom-control-label" for="local_pickup"
                    >Retiro en depósito</label
                  >
                </div>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <br />
      <div id="shipping-method-data">
        <div class="shipping-address" v-if="shippingMethod == 'pickup'">
          <div class="alert alert-primary alert-simple">
            <i class="fa fa-info-circle"></i> Una vez procesado su pedido nos
            pondremos en contacto para concretar el retiro.
          </div>
        </div>
        <div class="shipping-address" v-if="shippingMethod == 'delivery'">
          <div class="alert alert-primary alert-simple">
            <i class="fa fa-info-circle"></i> Una vez procesado su pedido nos
            pondremos en contacto para acordar el envío.
          </div>
        </div>
      </div>
      <table class="total">
        <tr class="summary-subtotal">
          <td>
            <h5 class="summary-subtitle">Costo envío</h5>
          </td>
          <td>
            <p class="summary-subtotal-price">
              {{ shippingCost }}
            </p>
          </td>
        </tr>
        <tr class="summary-subtotal">
          <td>
            <h4 class="summary-subtitle">Total</h4>
          </td>
          <td>
            <p class="summary-total-price ls-s">
              {{ formatterCurrency(cartStore.totalCost) }}
            </p>
          </td>
        </tr>
      </table>
      <div class="row mt-2" v-if="enabledConfirm">
        <div class="col-12 d-flex justify-content-center">
          <a
            href="#!"
            @click="confirmOrder"
            class="btn btn-dark btn-rounded btn-checkout text-center"
          >
            <i class="fa fa-check-circle"></i> Confirmar pedido
          </a>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 d-flex justify-content-center">
          <a href="#cancel-popup" class="open-popup-link">Cancelar pedido</a>
        </div>
      </div>
      <div id="cancel-popup" class="white-popup mfp-hide">
        <h3>¿Desea cancelar su pedido?</h3>
        <p>El pedido será cancelado y se vaciará el carrito.</p>
        <hr />
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary" @click="clear()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import useCartStore from "../../stores/cart";

import {
  ref,
  onMounted,
  getCurrentInstance,
  computed,
  defineExpose,
} from "vue";

const props = defineProps({
  defaultCurrency: {
    type: String,
    required: true,
  },
  exchangeRate: {
    type: Number,
    required: true,
    default: 1,
  },
  minPurchaseMount: {
    type: Number,
    required: false,
    default: 0,
  },
});

const cartStore = useCartStore;
const shippingMethod = ref("delivery");

const emit = defineEmits([]);

const formatterCurrency = (val) => {
  return new Intl.NumberFormat("es-AR", {
    style: "currency",
    currency: props.defaultCurrency,
  }).format(val);
};

const enabledConfirm = computed(() => {
  return cartStore.totalCost > Number(props.minPurchaseMount.value);
});

const confirmOrder = async () => {
  try {
    let result = await cartStore.createOrder(freeShipping.value, shippingMethod.value);

    if(result.status){
      cartStore.clear();
      location.href = `/cart/success?NP=${result.data.number}`;
    }else{
      alert("Su pedido no pudo ser procesado. Intente nuevamente por favor.");
    }
  } catch (error) {
    alert(error);
    console.log(error);
  }
};

const clear = async () => {
  cartStore.clear();
  $(".open-popup-link").magnificPopup("close");
};

const freeShipping = computed(() => {
  return false; //cartStore.totalCost >= settingsStore.freeShippingMount;
});

const shippingCost = computed(() => {
  if (shippingMethod.value == "delivery") {
    if (freeShipping.value) return "¡Envío gratis!";
    else return "A definir";
  }

  if (shippingMethod.value == "pickup") {
    return new Intl.NumberFormat("es-AR", {
      style: "currency",
      currency: props.defaultCurrency,
    }).format(0);
  }
});

onMounted(() => {
  let instance = getCurrentInstance();
  $(".open-popup-link").magnificPopup({
    type: "inline",
    midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
});

defineExpose({});
</script>

<style scoped>
.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
</style>
