<template>
    <div class="shipping-address">
        <label>Información de envío</label>
        <div class="select-box">
            <select name="provinciaid" class="form-control">
                <option value="us">--Provincia--</option>
                <option value="uk"></option>
                <option value="fr"></option>
                <option value="aus"></option>
            </select>
        </div>
        <div class="select-box">
            <select name="ciudadid" class="form-control">
                <option value="us">--Ciudad--</option>
                <option value="uk"></option>
                <option value="fr"></option>
                <option value="aus"></option>
            </select>
        </div>
        <input type="text" class="form-control" name="direccion" placeholder="Dirección" />
        <input type="text" class="form-control" name="code" placeholder="Código postal" />
    </div>
</template>