<template>
  <!-- Modal -->
  <div class="modal fade" id="bulkPriceProductModal" tabindex="-1" role="dialog"
    aria-labelledby="bulkPriceProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bulkPriceProductModalLabel">
            Precio de venta por bulto
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form @submit="submitForm" v-if="datavm">
          <div class="modal-body">
            <div v-if="action == 'delete'" class="alert alert-warning">
              <p>
                <i class="bi bi-info-circle"></i> ¿Desea eliminar esta
                característica del producto?
              </p>
            </div>
            <p>Condiciones para precio especial</p>
            <div class="row">
              <div class="col-4">
                <MoneyInput symbol="Un." :disabled="action == 'delete'" label="Desde" name="max_bulk"
                  v-model="datavm.max_bulk" ref="maxBulkInput">
                </MoneyInput>
              </div>
              <div class="col-4">
                <MoneyInput :symbol="props.default_currency" :disabled="action == 'delete' ||
                  (action !== 'delete' && datavm.max_bulk <= 1)
                  " label="Precio venta bulto" name="sale_price" v-model="datavm.sale_price">
                </MoneyInput>
              </div>
              <div class="col-4">
                <MoneyInput :symbol="props.default_currency" :disabled="true" label="Precio venta unidad" name="unit_sale_price"
                  id="sale_price_unit" v-model="datavm.unit_sale_price">
                </MoneyInput>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-3">
                <label class="col-form-label">Tipo descuento</label>
                <select
                  class="form-control"
                  :disabled="action == 'delete'"
                  v-model="datavm.type_discount"
                  id="type_discount"
                  name="type_discount"
                >
                  <option value="mount">Monto</option>
                  <option value="percentage">Porcentaje</option>
                </select>
              </div>
              <div class="col-3">
                <MoneyInput
                  symbol="%"
                  :disabled="action == 'delete'"
                  label="Descuento"
                  name="discount"
                  v-model="datavm.discount"
                >
                </MoneyInput>
              </div> -->
            </div>
            <div class="row">
              <div class="col-3">
                <label for="col-form-label">Válido desde</label>
                <VueDatepicker v-model="datavm.valid_from" :format-locale="es" format="dd/MM/yyyy HH:mm" name="valid_from"
                  :min-date="new Date()" model-type="yyyy-MM-dd HH:mm:ss" auto-apply time-picker-inline :teleport="true"
                  position="right" />
              </div>
              <div class="col-3">
                <label for="col-form-label">Válido hasta</label>
                <VueDatepicker v-model="datavm.valid_until" :format-locale="es" format="dd/MM/yyyy HH:mm"
                  name="valid_until" :min-date="new Date()" model-type="yyyy-MM-dd HH:mm:ss" auto-apply time-picker-inline
                  :teleport="true" position="right" />
              </div>
              <div class="col-2">
                <CustomSwitch label="Activo" name="bulk_price_active" v-model="datavm.active"
                  :disabled="action == 'delete'"></CustomSwitch>
              </div>
              <div class="col-3">
                <CustomSwitch label="Permite seleccionar cantidad" name="allow_select_qty"
                  v-model="datavm.allow_select_qty" :disabled="action == 'delete'"></CustomSwitch>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" ref="cancelButton" class="btn btn-secondary" @click="closeModal" data-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" v-if="action != 'delete'" ref="confirmButton" class="btn btn-primary"
              :disabled="!meta.valid">
              Guardar
            </button>
            <button type="submit" v-if="action == 'delete'" ref="deleteButton" class="btn btn-danger">
              Eliminar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, getCurrentInstance, defineExpose, watch } from "vue";
import { Form, useForm } from "vee-validate";
import * as yup from "yup";
import MoneyInput from "./MoneyInput.vue";
import VueDatepicker from "@vuepic/vue-datepicker";
import CustomSwitch from "./Switch.vue";
import {
  deleteData,
  getData,
  postData,
  putData,
} from "../js/util/fetchhandler";
import { es } from "date-fns/locale";
import "@vuepic/vue-datepicker/dist/main.css";

const props = defineProps({
  product_id: {
    type: [Number, String],
    required: true,
  },
  default_currency: {
    type: String,
    required: true
  }
});

const emit = defineEmits(["close"]);

let dialog = ref(null);
let datavm = ref(null);
let action = ref("");
const open = ref(false);

const vschema = yup.object({
  max_bulk: yup.number().required().min(1),
  sale_price: yup.number().required(),
});

// Get function used to handle form submission and set validation schema
const { handleSubmit, meta, resetForm } = useForm({
  validationSchema: vschema,
});

onMounted(() => {
  let instance = getCurrentInstance();
  let modalElement = document.getElementById("bulkPriceProductModal");

  dialog = new bootstrap.Modal(modalElement, {
    keyboard: false,
    backdrop: "static",
    focus: true,
  });
});

const onInvalidSubmit = () => {
  console.log("error");
  // Form is invalid
  // U can shake the submit button and inform the user in your way
};

const submitForm = handleSubmit((values) => {
  if (action.value == "delete") {
    deleteData(
      `${APP.BASEURL}/api/bulkpricings/${datavm.value.id}`,
      datavm.value.id
    ).then((result) => {
      closeModal();
    });
  }
  if (action.value == "create") {
    datavm.value.product_id = props.product_id;
    postData(`${APP.BASEURL}/api/bulkpricings`, datavm.value).then((result) => {
      closeModal();
    });
  }

  if (action.value == "update") {
    putData(
      `${APP.BASEURL}/api/bulkpricings`,
      datavm.value.id,
      datavm.value
    ).then((result) => {
      closeModal();
    });
  }
}, onInvalidSubmit);

const openModal = (id, _action) => {
  // The Form will get registerd and validated on setup function.
  // So it will be invalid before we open the modal.
  // We have to reset it here.
  action.value = _action;
  getData(`${APP.BASEURL}/api/bulkpricings/${id == 0 ? "new" : id}`).then(
    (data) => {
      datavm.value = data;
      // resetForm();
      dialog.show();
    }
  );
  open.value = true;
};

const closeModal = () => {
  open.value = false;
  emit("close");
  dialog.hide();
};


watch(datavm, (newVal, oldVal) => {
  if (newVal.sale_price == 0 || !newVal.sale_price) {
    datavm.value.unit_sale_price = 0;
  } else {
    datavm.value.unit_sale_price = Number.parseFloat(newVal.sale_price / Number(datavm.value.max_bulk)).toFixed(2);
  }
}, { deep: true })

defineExpose({
  openModal,
  closeModal,
});
</script>
