<style>
.grtv-wrapper.grayscale {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: medium;
}

.grtv-wrapper.grayscale .grtvn {
  list-style: none;
  color: #222;
  padding: 13.5px 3px;
  font-size: 13px;
}

.grtv-wrapper .grtvn:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.grtv-wrapper.grayscale .grtvn:first-child {
  margin-top: 0;
}

.grtv-wrapper.grayscale .grtvn[role="treeitem"]:focus {
  outline: 0;
}

.grtv-wrapper.grayscale .grtvn[role="treeitem"]:focus > .grtvn-self {
  outline: 1px dotted #000;
}

.grtv-wrapper.grayscale .grtvn-self {
  display: flex;
  align-items: flex-start;
  line-height: 1.2rem;
  /* margin-bottom: 1.5rem; */
}

.grtv-wrapper.grayscale .grtvn-self-expander {
  padding: 0;
  background: none;
  border: none;
  height: 1.2rem;
  cursor: pointer;
}

.grtv-wrapper.grayscale .grtvn-self-expander i.grtvn-self-expanded-indicator {
  font-style: normal;
}

.grtv-wrapper.grayscale
  .grtvn-self-expander.grtvn-self-expanded
  i.grtvn-self-expanded-indicator {
  transform: rotate(90deg);
}

.grtv-wrapper.grayscale .grtvn-self-action,
.grtv-wrapper.grayscale .grtvn-self-checkbox,
.grtv-wrapper.grayscale .grtvn-self-expander,
.grtv-wrapper.grayscale .grtvn-self-radio,
.grtv-wrapper.grayscale .grtvn-self-spacer {
  min-width: 1rem;
}

.grtv-wrapper.grayscale .grtvn-self-expander,
.grtv-wrapper.grayscale .grtvn-self-spacer {
  margin: 0;
}

.grtv-wrapper.grayscale .grtvn-self-checkbox,
.grtv-wrapper.grayscale .grtvn-self-radio {
  margin: 0 0 0 -1.2rem;
}

.grtv-wrapper.grayscale .grtvn-self-label,
.grtv-wrapper.grayscale .grtvn-self-text {
  margin-left: 1.2rem;
  cursor: pointer;
}

.grtv-wrapper.grayscale .grtvn-self-action {
  padding: 0 0 0 5px;
  background: none;
  border: none;
  height: 1.2rem;
}

.grtv-wrapper.grayscale i.grtvn-self-add-child-icon {
  font-style: normal;
}

.grtv-wrapper.grayscale i.grtvn-self-delete-icon {
  font-style: normal;
}

.grtv-wrapper.grayscale .grtvn-children {
  margin: 0 0 0 2.2rem;
  padding: 0;
  list-style: none;
}

.grtv-wrapper.grayscale .action-button:hover {
  background: #eee;
  border-radius: 50%;
}
</style>

<template>
  <tree-view
    :id="id"
    ref="treeview"
    :load-nodes-async="getTreeData"
    selection-mode="multiple"
    :model-defaults="modelDefaults"
    @treeNodeCheckboxChange="onNodeClick"
    :skin-class="'grayscale'"
  ></tree-view>
</template>

<script>
import ref from "vue";
import { TreeView } from "@grapoza/vue-tree";

export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    TreeView,
  },
  watch: {},
  data() {
    return {
      modelDefaults: {
        customizations: {
          classes: {
            treeViewNodeSelf: "bi bi-dot",
          },
        },
      },
      // dataModel: [
      //   {
      //     id: "node0",
      //     label: "A checkbox node",
      //     children: [],
      //     treeNodeSpec: {
      //       title:
      //         "This will be the value of the node text/label's 'title' attribute.",
      //       expandable: true,
      //       selectable: false,
      //       focusable: true,
      //       input: {
      //         type: "checkbox",
      //       },
      //       state: {
      //         expanded: true,
      //         selected: false,
      //         input: {
      //           value: false,
      //           disabled: false,
      //         },
      //       },
      //     },
      //   },
      //   {
      //     otherIdProp: "node1",
      //     textProp: "A radio button node",
      //     subThings: [],
      //     extraIrrelevantData: "February",
      //     treeNodeSpec: {
      //       idProperty: "otherIdProp", // Customize what model props are checked for the id, label, and children
      //       labelProperty: "textProp",
      //       childrenProperty: "subThings",
      //       expandable: true,
      //       selectable: false,
      //       input: {
      //         type: "radio",
      //         name: "rbGroup1", // Used as the name attribute for the radio button
      //         value: "thisValue", // Used as the value attribute for the radio button
      //         isInitialRadioGroupValue: true, // Indicates this should be the initially selected value for the group
      //       },
      //       state: {
      //         expanded: true,
      //         selected: false,
      //         // No input.value here; to let complex radio button groupings work, state value is
      //         // bound to an internal tree-level property. input.disabled, however, is valid here for radio buttons.
      //       },
      //       addChildCallback: () =>
      //         Promise.resolve({ id: "1", label: "label" }),
      //     },
      //   },
      // ],
      listData: [],
      treeData: [],
      selectedNodes: [],
    };
  },
  methods: {
    onNodeClick(target, e) {
      this.selectedNodes = this.$refs["treeview"].getCheckedCheckboxes();
      // this.modelValue = target.id;
      // if(target.checked){
      //   this.selectedNodes.push(target.id);
      // }else{
      //   this.selectedNodes = this.selectedNodes.filter((item) => {
      //     return item != target.id;
      //   });
      // }

      this.$emit("update:modelValue", this.selectedNodes);
    },
    async getTreeData() {
      return fetch(`${APP.BASEURL}/api/categories/treeview`)
        .then((data) => {
          return data.json();
        })
        .then((data) => {
          this.listData = data;
          return this.listToTree(data);
        });
    },
    checkDefaultValues(idCheck){
      if(this.$attrs.modelValue){
        if(Array.isArray(this.$attrs.modelValue)){
          let isDefaultValue = this.$attrs.modelValue.filter((item) => {return item.id == idCheck});
          console.log(isDefaultValue);
          return isDefaultValue.length > 0;
        }
      }

      if(this.$attrs.modelValue != ""){
        return this.$attrs.modelValue.includes(idCheck)
      }

      return false;
    },
    listToTree(arr = []) {
      let _this = this;
      let map = {},
        node,
        res = [],
        i;
      for (i = 0; i < arr.length; i += 1) {
        map[arr[i].id] = i;
        arr[i].children = [];
        arr[i].treeNodeSpec = {
          selectable: true,
          input: {
            type: "checkbox",
            name: "rb-node-categories-tree", // Used as the name attribute for the radio button
            value: arr[i].id, // Used as the value attribute for the radio button
            isInitialRadioGroupValue: _this.checkDefaultValues(arr[i].id), // Indicates this should be the initially selected value for the group
          },
          state: {
            expanded: true,
            selected:_this.checkDefaultValues(arr[i].id),
            disabled: this.$props.disabled == "true",
            input:{
              value: _this.checkDefaultValues(arr[i].id)
            }
            // No input.value here; to let complex radio button groupings work, state value is
            // bound to an internal tree-level property. input.disabled, however, is valid here for radio buttons.
          },
        };
      }
      for (i = 0; i < arr.length; i += 1) {
        node = arr[i];
        if (node.father_id !== "0") {
          arr[map[node.father_id]].children.push(node);
        } else {
          res.push(node);
        }
      }

      this.treeData = res;
      return res;
    },
  },
};
</script>
