<script>
import { getData } from '../js/util/fetchhandler';
export default {
    props: {
        disabled: Boolean,
        id: String,
        name: String
    },
    mounted() {
        this.getProvincias().then((data) => {
            this.provincias = data;
        });
    },
    watch: {
        'value.ciudadid': {
            handler(newval, oldval) {
                if (newval != "") {
                    this.getCiudades().then((data) => {
                        this.ciudades = data;
                    });
                }
            }
        }
    },
    updated() { },
    computed: {
        value: {
            get() {
                return this.$attrs.value;
            },
            set(val) {
                this.$emit("input", val);
            }
        }
    },
    data: function () {
        return {
            provincias: [],
            ciudades: []
        };
    },
    template: "#provinciaciudadtemplate",
    methods: {
        getProvincias() {
            return getData(`${APP.BASEURL}/Ciudades/BuscarProvincias`);
        },
        getCiudades() {
            return getData(`${APP.BASEURL}/Ciudades/Buscar/${this.value.provinciaid}`);
        },
        triggerChangeProvincia(e) {
            let _this = this;
            this.value.ciudadid = "";
            this.getCiudades().then((data) => {
                _this.ciudades = data;
            });
        }
    }

}
</script>

<template>
    <div class="row" v-if="value">
        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <label for="">Provincia</label>
            <select class="form-control" :id="`id-'provincia'`" :name="`name-'provincia'`" @change="triggerChangeProvincia"
                v-model="value.provinciaid">
                <option v-for="(prov, key) in provincias" :key="key" :value="prov.id">{{ prov.nombre }}</option>
            </select>
        </div>
        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <label for="">Ciudad</label>
            <select class="form-control" :id="`id-'ciudad'`" :name="`name-'ciudad'`" v-model="value.ciudadid">
                <option v-for="(ciu, key) in ciudades" :key="key" :value="ciu.id">{{ ciu.nombre }}</option>
            </select>
        </div>
    </div>
</template>

<style type="text/css"></style>