<template>
  <div style="display: contents">
    <button
      class="btn-collapse-tr-child"
      @click="collapseHidden($event)"
      data-toggle="collapse"
      :href="`#collapse-child-${rownumber}`"
      v-if="hiddenCols.length"
    >
      +
    </button>
    <tr
      :class="`jsgrid-row ${
        hiddenCols.length ? 'parent-' + rownumber : ''
      }  ${extraclass} `"
      v-if="datarow && colsrow"
      @click="handlerClickRow($event)"
    >
      <template v-for="(col, key) in colsrow">
        <!--Celda con solo texto-->
        <template v-if="col.TipoCeldaInput == null && !col.hidden">
          <td :class="`jsgrid-cell priority-${++key}`" :key="key">
            {{ datarow[col.Identificador] }}
          </td>
        </template>
        <!-- Celda con input -->
        <template v-else>
          <DataGridCellInput
            :key="key"
            :type="col.TipoCeldaInput"
            v-model="datarow[col.Identificador]"
            :id="`cell-row-${rownumber}-${col.Identificador}`"
            :name="`cell-row-${rownumber}-${col.Identificador}`"
            :colIndex="key"
            :rowIndex="rownumber"
            :callbackEvents="callbackeventscells[col.Identificador]"
            @valuechanged="updateDataRow(col.Identificador, $event)"
            :class="`jsgrid-cell priority-${++key}`"
          >
          </DataGridCellInput>
        </template>
      </template>
      <td
        class="jsgrid-cell jsgrid-control-field jsgrid-align-center"
        v-if="datarow.actionsrow.length > 0"
      >
        <a
          v-for="(action, key) in datarow.actionsrow"
          @click="actionTriggered(action.name)"
          href="#"
          :title="action.title"
          :key="key"
        >
          <i :class="action.icon" style="font-size: 20px"></i>
        </a>
      </td>
    </tr>
  </div>
</template>

<script setup>
import { ref, onMounted, defineProps, defineEmits } from "vue";
import { errorMessage } from "../js/util/notifications";
import DataGridCellInput from "./DataGridCellInput.vue";

const props = defineProps({
  datarow: {
    type: Object,
    default() {
      return {};
    },
  },
  colsrow: {
    type: Array,
    default() {
      return [];
    },
  },
  rownumber: {
    type: Number,
    default: 0,
  },
  showcheckcell: {
    type: Boolean,
    default: false,
  },
  callbackeventscells: {
    type: Object,
    default() {
      return {};
    },
  },
  extraclass: {
    type: String,
    default() {
      return "";
    },
  },
});

const emits = defineEmits(["action", "cellchanged"]);

const root = ref(null);
let originalData = ref(props.datarow);
let hiddenCols = ref([]);
let colspanHidden = ref(0);

const actionTriggered = (_action) => {
  emits("action", _action, props.datarow.Id, props.datarow);
};

const updateDataRow = (_colname, _data) => {
  try {
    originalData.value[_colname] = _data.new;
    emits(
      "cellchanged",
      originalData.value,
      _colname,
      _data.new,
      _data.prev,
      props.rownumber
    );
  } catch (e) {
    errorMessage("Error", "No se pudo actualizar el valor");
  }
};

const handlerClickRow = (ev) => {
  try {
    if (showcheckcell.value) {
      if (ev.target.tagName === "TD") {
        let rowElement = root.value;
        let checkCell = rowElement.getElementsByTagName("td")[0];
        let check = checkCell.getElementsByTagName(`input`)[0];
        check.checked = !check.checked;
        updateDataRow("Check", {
          new: check.checked,
          prev: !check.checked,
        });
        //this.$emit('action', "ROWCLICKED", this.datarow.Id, this.datarow);
      }
    }
  } catch (error) {}
};
</script>
