<template>
  <th :class="className" v-on:click="changeOrder()">
    {{ header.Nombre == "Check" ? "" : header.Nombre }}
    <i :class="iconClassName"></i>
  </th>
</template>

<script>
import * as enums from "../js/util/enums.js";

export default {
  props: {
    header: Object,
    responsivepriority: {
      type: Number,
      default: 1,
    },
  },
  emits: ['changeordercolumn'],
  mounted() {
    this.setClass();
    // this.$parent.$on("clearorders", this.clear);
  },
  watch: {},
  created() {
  },
  data() {
    return {
      orientation: "",
      className: "",
      iconClassName: "",
      MAX_RESPONSIVE_PRIORITY: 8,
    };
  },
  methods: {
    changeOrder() {
      if (this.header.Ordenable == "1") {
        this.orientation =
          this.orientation == "" || this.orientation == "ASC" ? "DESC" : "ASC";
        // this.setClass();
        this.$emit(
          "changeordercolumn",
          this.header.Identificador,
          this.orientation
        );
      }
    },
    setClass() {
      let _class = `jsgrid-header-cell jsgrid-align-center cell-header-${this.header.Nombre} priority-${this.responsivepriority}`;
      let _icon = "";
      if (this.header.Ordenable == "1") {
        _class = `${_class} jsgrid-header-sortable`;
        _icon = "";
      }

      if (this.orientation !== "") {
        if (this.orientation == "ASC") {
          _class = `${_class} jsgrid-header-sort-asc`;
          _icon = `${enums.ICONSACTIONSGRIDROW.ORDER_COLUMN_DOWN} `;
        }

        if (this.orientation == "DESC") {
          _class = `${_class} jsgrid-header-sort-desc`;
          _icon = `${enums.ICONSACTIONSGRIDROW.ORDER_COLUMN_UP} `;
        }
      }

      // if(this.header.Nombre == 'Check'){
      //     _class = `${_class} jsgrid-header-check`;
      // }

      this.className = _class;
      this.iconClassName = _icon;
    },
    clear() {
      this.orientation = "";
      this.setClass();
    },
  },
};
</script>
<style type="text/css"></style>
