<template>
  <td v-if="property" :class="className">
    <span v-if="property.TipoFiltro == 'textbox'">
      <input
        type="text"
        class="form-control"
        v-model="value"
        v-on:keyup="triggerValueChange"
        :id="`filter-${property.Identificador}`"
        :name="`filter-${property.Identificador}`"
      />
    </span>
    <span v-if="property.TipoFiltro == 'combo' && property.ValoresFiltro">
      <select
        v-model="value"
        :id="`filter-${property.Identificador}`"
        v-on:change="triggerValueChange"
        :name="`filter-${property.Identificador}`"
        class="form-control"
      >
        <option
          v-for="(item, key) in createCombobox(property.ValoresFiltro)"
          v-bind:value="item.value"
          :key="key"
        >
          {{ item.text }}
        </option>
      </select>
    </span>
    <span v-if="property.TipoFiltro == 'check'">
      <input
        type="checkbox"
        v-model="value"
        v-on:change="triggerValueChange"
        :id="`filter-${property.Identificador}`"
        :name="`filter-${property.Identificador}`"
      />
    </span>
  </td>
</template>

<script>
export default {
  props: {
    property: Object,
    responsivepriority: {
      type: Number,
      default: 1,
    },
  },
  emits: ['filterchanged'],
  mounted: function () {
    this.setClass();
  },
  created: function () {
  },
  data() {
    return {
      value: "",
      className: `jsgrid-cell priority-${this.responsivepriority}`,
    };
  },
  methods: {
    clear() {
      this.value = "";
    },
    createCombobox(strData) {
      if (strData) {
        // strData = strData.slice(0, -1); //remueve el último caracter de separación
        let valoresFiltro = [];
        let obj = {};
        let arrayData = strData.split(";");

        valoresFiltro.push({
          text: "",
          value: "0",
        });

        for (var i = 0, max = arrayData.length; i < max; i += 1) {
          obj = this.createItemCombo(arrayData[i]);
          valoresFiltro.push(obj);
        }
        return valoresFiltro;
      }
      return "";
    },
    createItemCombo(prop) {
      let obj = {};
      let array = prop.split(",");
      obj.text = array[0].trim();
      obj.value = array[1].trim();
      return obj;
    },
    triggerValueChange() {
      this.$emit("filterchanged", this.property.Identificador, this.value);
    },
    setClass() {
      switch (this.property.TipoFiltro) {
        case "textbox":
          this.className = `${this.className} jsgrid-align-left`;
          break;
        case "combo":
        case "check":
          this.className = `${this.className} jsgrid-align-center`;
          break;
        default:
          break;
      }
    },
  },
};
</script>
<style type="text/css"></style>
