<template>
  <div class="jsgrid-pager-container" style="">
    <div class="jsgrid-pager" v-if="pagetotal > 0">
      <span
        :class="`jsgrid-pager-nav-button ${
          back ? '' : 'jsgrid-pager-nav-inactive-button'
        }`"
      >
        <a
          href="javascript:void(0);"
          @click="showPages(0, true)"
          data-bs-original-title=""
          title=""
          >Primera</a
        >
      </span>
      <span
        :class="`jsgrid-pager-nav-button ${
          pageIndex == 1 ? 'jsgrid-pager-nav-inactive-button' : ''
        }`"
      >
        <a
          href="javascript:void(0);"
          @click="prevPage()"
          data-bs-original-title=""
          title=""
          >Ant</a
        >
      </span>
      <span class="jsgrid-pager-nav-button" v-if="back">
        <a
          href="javascript:void(0);"
          @click="showPages(pivot - 1, false)"
          data-bs-original-title=""
          title=""
          >...</a
        >
      </span>
      <span v-for="(pagina, index) in pagesVisibles" :class="`jsgrid-pager-page ${pagina == pageIndex ? 'jsgrid-pager-current-page' : ''}`" :key="index">
            <a
              href="javascript:void(0);"
              @click="changePageIndex(pagina)"
              >{{ pagina }}</a
            >
          </span>
      <!-- <template v-for="(pagina, index) in pagesVisibles">
        <template v-if="pagina == pageIndex">
          <span
            class="jsgrid-pager-page jsgrid-pager-current-page"
            :key="index"
          >
            {{ pagina }}
          </span>
        </template>
        <template v-else>
          <span class="jsgrid-pager-page" :key="index">
            <a
              href="javascript:void(0);"
              @click="changePageIndex(pagina)"
              >{{ pagina }}</a
            >
          </span>
        </template>
      </template> -->
      <span class="jsgrid-pager-nav-button" v-if="next">
        <a
          href="javascript:void(0);"
          @click="showPages(pivot + 1, true)"
          data-bs-original-title=""
          title=""
          >...</a
        >
      </span>
      <span
        :class="`jsgrid-pager-nav-button ${
          pageIndex == arrayPages.length
            ? 'jsgrid-pager-nav-inactive-button'
            : ''
        }`"
      >
        <a
          href="javascript:void(0);"
          @click="nextPage()"
          data-bs-original-title=""
          title=""
          >Sig</a
        >
      </span>
      <span
        :class="`jsgrid-pager-nav-button ${
          next ? '' : 'jsgrid-pager-nav-inactive-button'
        }`"
      >
        <a
          href="javascript:void(0);"
          @click="showPages(groupsPages.length - 1)"
          data-bs-original-title=""
          title=""
          >Última</a
        >
      </span>
      &nbsp;&nbsp; {{ pageIndex }} de {{ pagetotal }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pagetotal: Number,
  },
  emits: ['change'],
  mounted: function () {},
  watch: {
    pagetotal: {
      immediate: false,
      handler(val, oldVal) {
        this.arrayPages = [];
        for (var i = 1; i <= val; i++) {
          this.arrayPages.push(i);
        }
        this.splitArrayPages();
        this.showPages(0, true);
      },
    },
  },
  data() {
    return {
      pageIndex: 1,
      MAXPAGESVISIBLES: 5,
      arrayPages: [], //arreglo con todas las paginas
      pagesVisibles: [], //arreglo de las páginas mostradas
      groupsPages: [], //arreglo de grupos de páginas formados a partir del pageTotal y el MAXPAGESVISIBLES
      next: false,
      back: false,
      pivot: 0,
    };
  },
  methods: {
    //Retorna los grupos de páginas de acuerdo al máximo por grupo
    splitArrayPages() {
      this.groupsPages = [];
      let i = 0,
        n = this.arrayPages.length;
      while (i < n) {
        this.groupsPages.push(
          this.arrayPages.slice(i, (i += this.MAXPAGESVISIBLES))
        );
      }
    },
    //Buscar el grupo de páginas a mostrar y posiciona el pageIndex
    showPages(group, forward) {
      this.pivot = group;

      this.next = typeof this.groupsPages[this.pivot + 1] !== "undefined";
      this.back = typeof this.groupsPages[this.pivot - 1] !== "undefined";

      this.pagesVisibles = this.groupsPages[this.pivot];

      //si se mueve hacia adelante posiciona en el primer item de paginas de los contrario en el último
      if (forward) this.changePageIndex(this.pagesVisibles[0]);
      else
        this.changePageIndex(this.pagesVisibles[this.pagesVisibles.length - 1]);
    },
    //Boton siguiente
    nextPage() {
      if (!this.pagesVisibles.includes(this.pageIndex + 1)) {
        this.showPages(this.pivot + 1, true);
      } else {
        this.changePageIndex(this.pageIndex + 1);
      }
    },
    //Boton previo
    prevPage() {
      if (!this.pagesVisibles.includes(this.pageIndex - 1)) {
        this.showPages(this.pivot - 1, false);
      } else {
        this.changePageIndex(this.pageIndex - 1);
      }
    },
    changePageIndex(pagina) {
      this.pageIndex = pagina;
      this.$emit("change", this.pageIndex);
    },
  },
};
</script>
<style type="text/css"></style>
