<template>
  <div class="">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-12 col-12">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-12">
            <button type="button" v-if="checkActions('CREATE')" class="btn btn-success btn-block mb-2"
              v-on:click="actionTriggered('CREATE', 0)">
              <i class="bi bi-plus-lg" style="font-size: 15px"></i> Nuevo
            </button>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-12">
            <button type="button" class="btn btn-primary btn-block mb-2" v-on:click="get">
              <i class="bi bi-arrow-clockwise" style="font-size: 15px"></i>
              Actualizar
            </button>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-12">
            <div class="dropdown">
              <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-files"></i> Exportar
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- <a class="dropdown-item" v-on:click="actionTriggered('EXPORTALL')" href="#">Todos las filas</a> -->
                <a class="dropdown-item" v-on:click="actionTriggered('EXPORT')" href="#">Filas seleccionadas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-12 mt-3 mb-3">
        <div class="dataTables_length float-right" :id="`dataGrid-length-${title}`">
          <label>
            Mostrar
            <select v-on:change="get" v-model="filters.PageSize">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            filas
          </label>
        </div>
      </div>
      <!-- <button type="button" v-if="checkActions('IMPORT')" class="btn btn-success mb-2" v-on:click="actionTriggered('IMPORT')">
                <i class="icon-arrow-up" style="font-size: 15px;"></i> Importar Excel
            </button>      -->
    </div>
    <div class="jsgrid" style="position: relative; height: auto; width: 100%">
      <div class="jsgrid-grid-header jsgrid-header-scrollbar">
        <table class="jsgrid-table table" :id="idGridHeader">
          <tr class="jsgrid-header-row">
            <DatagridHeader v-for="(head, index) in properties" :key="index" :responsivepriority="++index" :header="head"
              @changeordercolumn="orderColumnHasChaged" ref="gridheader">
            </DatagridHeader>
            <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" v-if="actions.length > 0"></th>
          </tr>
          <tr class="jsgrid-filter-row">
            <DatagridFilter v-for="(prop, index) in properties" :key="index" :responsivepriority="++index"
              :property="prop" @filterchanged="filterHasChanged" ref="gridfilter">
            </DatagridFilter>
            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" v-if="actions.length > 0">
              <!-- <input class="jsgrid-button jsgrid-search-button" type="button" title="" data-bs-original-title="Search" aria-label="Search"> -->
              <input class="jsgrid-button jsgrid-clear-filter-button" v-on:click="clearFilters" type="button" title=""
                data-bs-original-title="Clear filter" aria-label="Clear filter" />
            </td>
          </tr>
        </table>
      </div>
      <div class="jsgrid-grid-body">
        <table class="jsgrid-table table table-hover" :id="idGrid">
          <tbody v-if="rows.length > 0 && properties.length > 0">
            <DatagridRow v-for="(row, key) in rows" :key="key" :datarow="row" :colsrow="properties" :rownumber="key"
              :callbackeventscells="callbackeventscells" :showcheckcell="showcheckcolumn"
              :extraclass="setStylesByRow(row)" @action="actionTriggered" @cellchanged="cellRowChanged"></DatagridRow>
          </tbody>
          <tbody v-else>
            <tr>
              <td>
                <p class="text-center p-3">No hay datos para mostrar</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-3 col-12">
          <p>Mostrando un total de {{ rows.length }} filas</p>
        </div>
        <div class="col-md-9 col-12">
          <DatagridPagination :pagetotal="paginationConfig.pageTotal" @change="pageIndexHasChanged" ref="pagination">
          </DatagridPagination>
        </div>
      </div>
      <div class="jsgrid-load-shader" v-if="rows.length == 0"
        style="display: none; position: absolute; inset: 0px; z-index: 1000"></div>
      <div class="jsgrid-load-panel" v-if="rows.length == 0" style="
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1000;
        ">
        Please, wait...
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, watch, defineProps, defineEmits, defineExpose } from 'vue';
import DatagridRow from "./DatagridRow.vue";
import DatagridHeader from "./DatagridHeader.vue";
import DatagridFilter from "./DatagridFilter.vue";
import DatagridPagination from "./DatagridPagination.vue";

import * as enums from "../js/util/enums.js";
import { hideLoading, isEmptyObject, showLoading } from "../js/util/utils";
import { errorMessage } from "../js/util/notifications";

const props = defineProps({
  urlrequest: String,
  title: String,
  writeurlrequest: Boolean,
  actions: {
    type: Array,
    default() {
      return [];
    },
  },
  actionsbyrowcallback: {
    type: Function,
    default: null,
  },
  stylesbyrowcallback: {
    type: Function,
    default: null,
  },
  defaultparameters: {
    type: Object,
    default() {
      return {};
    },
  },
  showbtnrefresh: {
    type: Boolean,
    default: true,
  },
  showfiltersrow: {
    type: Boolean,
    default: true,
  },
  showcheckcolumn: {
    type: Boolean,
    default: false,
  },
  callbackeventscells: {
    type: Object,
    default() {
      return {};
    },
  }, //{'Nombre celda' : [{event : 'event-name', callback: function}]}
});

const DEFAULT_PAGEINDEX = ref(1);
const DEFAULT_PAGESIZE = ref(50);
const DEFAULT_ORDENAR = ref("");
let rows = ref([]); //Filas de la grilla
const properties = ref([]); //Información sobre columnas
const events = ref([]);
const paginationConfig = ref({
  pageTotal: 0, //Cantidad de páginas
});

let filters = ref({
  PageIndex: 1,
  PageSize: 10,
  OrderBy: "",
});

const idGrid = ref("");
const idGridHeader = ref("");
const requestxhr = ref([]);
const gridheader = ref(null);
const gridfilter = ref(null);

const emits = defineEmits(['clearorders', 'clearfilters']);


onMounted(() => {
  let uri = window.location.search.substring(1);
  let paramsobj = Object.fromEntries(new URLSearchParams(uri));
  filters.value = paramsobj;
  filters.value.PageIndex = paramsobj.PageIndex || DEFAULT_PAGEINDEX.value;
  filters.value.PageSize = paramsobj.PageSize || DEFAULT_PAGESIZE.value;
  filters.value.OrderBy = paramsobj.OrderBy || DEFAULT_ORDENAR.value;

  get();
});


const get = () => {
  let url = createUrlRequest();

  $(requestxhr.value).each(function (i, jqXHR) {
    //  cycle through list of recorded connection
    jqXHR.abort(); //  aborts connection
    requestxhr.value.splice(i, 1); //  removes from list by index
  });
  $.ajax({
    url: url,
    type: "GET",
    contentType: "application/json",
    dataType: "json",
    beforeSend: function (jqXHR) {
      showLoading();
      requestxhr.value.push(jqXHR);
    },
    complete: function (jqXHR) {
      hideLoading();
      var i = requestxhr.value.indexOf(jqXHR); //  get index for current connection completed
      if (i > -1) requestxhr.value.splice(i, 1); //  removes from list by index
    },
  })
    .done(function (response) {
      properties.value = response.Properties;

      if (props.showcheckcolumn) {
        //Agrego la columna Check al principio del arreglo de propiedades
        properties.value.unshift({
          Filtrable: false,
          Identificador: "Check",
          Nombre: "Check",
          Ordenable: false,
          TipoCeldaInput: "checkbox",
          TipoFiltro: "check",
          ValoresFiltro: "",
        });
        //deschekea el check superior que sirve para marcar todas las filas
        $(`tr.jsgrid-filter-row  td input#filter-Check`).prop(
          "checked",
          false
        );
        checkAllRows(false);

        //Agrego la propiedad Check a todas las filas de la grilla
        rows.value = response.Rows.map((element) => ({
          ...element,
          Check: false,
          actionsrow: setActionsByRow(element),
        }));
      } else {
        rows.value = response.Rows.map((element) => ({
          ...element,
          actionsrow: setActionsByRow(element),
        }));
      }

      createFilters();

      paginationConfig.value.pageTotal = Math.ceil(
        response.TotalRecords / filters.value.PageSize
      );
    })
    .fail(function (jqXHR, textStatus, errorThrown) {
      if (textStatus == "abort") return;

      if (jqXHR.status == 404) {
        errorMessage(
          "Error",
          "Recurso no encontrado. Comuníquese con soporte"
        );
      } else if (jqXHR.status == 500) {
        errorMessage(
          "Error",
          "Ha ocurrido un error en el servidor. Comuníquese con soporte."
        );
      } else if (textStatus === "timeout") {
        errorMessage(
          "Time out",
          "La solicitud demoró demasiado y fue cancelada."
        );
      } else {
        errorMessage("", "Ha ocurrido un error inesperado");
      }
    });
};

const createUrlRequest = () => {
  //parametros por defecto
  if (!isEmptyObject(props.defaultparameters)) {
    Object.entries(props.defaultparameters).forEach(([key, value]) => {
      filters.value[key] = value;
    });
  }

  const searchParams = new URLSearchParams(filters.value);
  if (props.writeurlrequest) {
    writeUrlRequest(searchParams);
  }
  let url = `${APP.BASEURL}/${props.urlrequest}?${searchParams.toString()}`;
  return url;
};

const writeUrlRequest = (query) => {
  const newUrl = `${location.protocol}//${location.host}${location.pathname
    }?${query.toString()}`;
  window.history.pushState("page2", "Title", newUrl);
};

const createFilters = () => {
  properties.value.forEach((property, index) => {
    if (property.Filtrable) {
      if (!filters.value.hasOwnProperty(property.Identificador)) {
        // this.filters[property.Identificador] = ''
        switch (property.TipoDato) {
          case "string":
            filters.value[property.Identificador] = "";
            break;
          case "int":
            filters.value[property.Identificador] = 0;
            break;
          default:
            break;
        }
      }
    }
  });
};

const checkAllRows = (check) => {
  rows.value.forEach((element) => {
    element.Check = check;
  });
  let gridElement = document.getElementById(idGrid.value);
  const event = new CustomEvent("CHECKALLROWS", {
    detail: {
      Rows: check ? rows.value : [],
    },
  });
  gridElement.dispatchEvent(event);
};


const filterHasChanged = (identificador, value) => {
  if (identificador == "Check") {
    return checkAllRows(value);
  }
  filters.value[identificador] = value;
  get();
};

const pageIndexHasChanged = (page) => {
  if (page != filters.value["PageIndex"]) {
    filters.value["PageIndex"] = page;
    get();
  }
};

const orderColumnHasChaged = (column, orientation) => {
  filters.value["OrderBy"] = `${column} ${orientation}`;
  emits("clearorders", column);

  //cleaning order and setting new order's class
  gridheader.value.forEach((element) => {
    if (element.header.Identificador == column) {
      element.setClass();
    } else {
      element.clear();
    }
  });

  get();
};

const clearFilters = () => {
  console.log("clearFilters grid");
  emits("clearfilters");

  //cleaning filters
  gridfilter.value.forEach((element) => {
    element.clear();
  });

  filters.value = {
    PageIndex: 1,
    PageSize: filters.value.PageSize,
    OrderBy: filters.value.OrderBy,
  };

  get();
};

const buildActions = () => {
  if (props.actions.length > 0) {
    props.actions.map(function (value, index) {
      props.actions[index] = {
        name: value.Identificador.split(".")[1],
        icon: enums.ICONSACTIONSGRIDROW[value.Identificador.split(".")[1]],
        title: value.Nombre,
      };
    });
  }
};

const checkActions = (_name) => {
  if (props.actions.filter((e) => e.name === _name).length > 0) {
    return true;
  }
  return false;
};


const actionTriggered = (_name, _id, _row) => {
  let gridElement = document.getElementById(idGrid.value);
  const event = new CustomEvent(_name, {
    detail: {
      Id: _id,
      Row: _row,
    },
  });
  gridElement.dispatchEvent(event);
};


const cellRowChanged = (_rowdata, _cell, _newval, _prevval, _rownumber) => {
  let gridElement = document.getElementById(idGrid.value);
  const event = new CustomEvent("CELLROWCHANGED", {
    detail: {
      rowData: _rowdata,
      rowNumber: _rownumber,
      cellName: _cell,
      value: _newval,
      oldValue: _prevval,
      timeStamp: new Date()
    },
  });
  gridElement.dispatchEvent(event);
};


const setActionsByRow = (datarow) => {
  if (props.actionsbyrowcallback)
    return props.actionsbyrowcallback(datarow, props.actions);
  return props.actions;
};

const setStylesByRow = (datarow) => {
  if (props.stylesbyrowcallback) return props.stylesbyrowcallback(datarow);
  return "";
};

watch(() => props.title, (newVal, oldVal) => {
  idGrid.value = `${newVal}-datatable`;
  idGridHeader.value = `${newVal}-header`;
}, { immediate: true });

watch(() => props.defaultparameters, (newVal, oldVal) => {
  console.log(`cambio defaultparameters de la grilla ${newVal}`);
  get();
}, { immediate: true })

watch(() => props.actions, (newVal, oldVal) => {
  buildActions()
}, { immediate: true });


defineExpose(
  { get: get }
)

</script>
<style type="text/css"></style>
