<template>
  <td class="jsgrid-cell">
    <template v-if="type == 'textbox'">
      <input
        type="text"
        :data-col="colIndex"
        :data-row="rowIndex"
        :name="`${name}`"
        :id="`${name}`"
        v-model="data"
        @keypress="handlerChange"
      />
    </template>
    <template v-if="type == 'checkbox'">
      <div class="form-check checkbox checkbox-primary mb-0 text-center">
        <input
          type="checkbox"
          :data-col="colIndex"
          :data-row="rowIndex"
          :name="`${name}`"
          :id="`${name}`"
          v-model="data"
          @change="handlerChange"
        />
      </div>
    </template>
    <template v-if="type == 'imgurl'">
      <div class="col d-flex align-items-center justify-content-center">
        <img
          :src="'/api/file/' + data"
          alt="Imagen"
          class="img-fluid"
          @error="replaceImageByDefault"
        />
      </div>
    </template>
  </td>
</template>

<script setup>
import {
  ref,
  onMounted,
  defineProps,
  defineEmits,
  watch,
  onActivated,
} from "vue";

const props = defineProps({
  id: String,
  name: String,
  extraClass: {
    type: String,
    default() {
      return "";
    },
  },
  colIndex: Number,
  rowIndex: Number,
  modelValue: {
    type: [String, Number, Boolean],
    default: null,
  },
  datacollection: Array, //para selects
  type: String, //textbox, numeric, checkbox, select
  callbackEvents: {
    type: Array,
    default() {
      return [];
    },
  }, //[{event : 'event-name', callback: function }] => Ej: [{event: 'change', callback: doSomething()}]
});

const emits = defineEmits(["valuechanged"]);

const root = ref(null);
let data = ref("");
let prevData = ref();
let originalData = ref();

onActivated(() => {
  if (props.callbackEvents) {
    let element = document.getElementById(`${props.name.value}`);
    //remove all events listeners from element
    /*                element.replaceWith(element.cloneNode(true));*/
    //attach all events listeners
    // props.callbackEvents.forEach((item, index) => {
    //   element.removeEventListener(item.event, function () { });
    //   element.addEventListener(
    //     item.event,
    //     function () {
    //       item.callback(data);
    //     },
    //     false
    //   );
    // });
  }

  //fix to checkbox
  if (props.type == "checkbox") {
    originalData.value = data.value == 1;
  } else {
    originalData.value = data.value;
  }
});

const handlerChange = () => {
  emits("valuechanged", { new: data.value, prev: prevData.value });
  prevData.value = data.value;
};

watch(
  () => props.modelValue,
  (newVal, oldVal) => {
    if (props.type == "checkbox") {
      data.value = newVal == 1;
    } else {
      data.value = newVal;
    }
    prevData.value = data.value;
  },
  { immediate: true }
);

// watch(() => data.value, (newVal, oldVal) => {
//   prevData.value = oldVal;
//   handlerChange();
// });

const replaceImageByDefault = (e) => {
  e.target.src =
    "https://www.inkling.com/wp-content/uploads/2021/06/SD-default-image.png";
};
</script>
<style type="text/css"></style>
