<template>
    <label for="col-form-label">{{ label }}</label>
    <vuedatepicker v-model="inputValue" name="name" :format="format" model-type="dd/MM/yyyy HH:mm" auto-apply time-picker-inline :teleport="true" position="right" @input="handleChange"/>
    <span :class="`d-inline-block ${errorMessage ? 'invalid-feedback' : 'valid-feedback'}`" v-show="errorMessage">
        {{ errorMessage }}
    </span>
</template>

<script>
import {ref} from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import { useField } from "vee-validate";

export default {
    props: {
        modelValue: {
            type: [String, Date]
        },
        name: {
            type: String,
            required: true,
        },
        label: {
            type: String,
            required: true,
        }
    },
    components: {
        vuedatepicker: VueDatePicker
    },
    setup(props, { emit }) {
        const date = ref(new Date());
        // In case of a range picker, you'll receive [Date, Date]
        const format = (date) => {
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            const hours = date.getHours();
            const minutes = date.getMinutes();

            return `${day}/${month}/${year} ${hours}:${minutes}`;
            // return `${year}-${month}-${day} ${hours}:${minutes}`
        }
        const {
            value: inputValue,
            errorMessage,
            handleBlur,
            handleChange,
            meta,
        } = useField(props.name, undefined, {
            syncVModel: true
        });

        const onChange = (event) => {
            handleChange(event, true)
            emit('update:modelValue', event.target.value)
        }

        return {
            onChange,
            handleChange,
            handleBlur,
            errorMessage,
            inputValue,
            meta,
            format
        };
    }
}
</script>