<script>
import moment from 'moment';
export default {
    props: {
        disabled: Boolean,
        prefixid: {
            type: String,
            default() {
                return "";
            }
        },
        prefixname: {
            type: String,
            default() {
                return "";
            }
        }
    },
    mounted() { },
    created() {

    },
    watch: {

    },
    data: function () {
        return {
            desde: moment(new Date()).format('YYYY-MM-DD'),
            hasta: moment(new Date()).format('YYYY-MM-DD')
        };
    },
    methods: {
        triggerChangeValue(e) {
            this.$emit("changevalue", this.id, this.ciudadId);
        }
    }
}
</script>

<template>
    <div class="row">
        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <validation-provider ref="desde" name="desde" rules="rangedates:@hasta,desde"
                v-slot="{ dirty, valid, invalid, errors }">
                <label for="desde" class="col-form-label">Desde</label>
                <input type="date" v-model="desde" class="form-control"
                    v-bind:class="{ 'is-valid': dirty && valid, 'is-invalid': dirty && invalid }">
                <div :class="`d-inline-block ${dirty && valid ? 'valid-feedback' : 'invalid-feedback'}`"
                    v-show="errors">{{ errors[0] }}</div>
            </validation-provider>
        </div>

        <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <validation-provider ref="hasta" name="hasta" rules="rangedates:@desde,hasta"
                v-slot="{ dirty, valid, invalid, errors }">
                <label for="hasta" class="col-form-label">Hasta</label>
                <input type="date" v-model="hasta" class="form-control"
                    v-bind:class="{ 'is-valid': dirty && valid, 'is-invalid': dirty && invalid }">
                <div  :class="`d-inline-block ${dirty && valid ? 'valid-feedback' : 'invalid-feedback'}`"
                    v-show="errors">{{ errors[0] }}</div>
            </validation-provider>
        </div>
    </div>
</template>

<style type="text/css"></style>