<script>
export default {
    props: {
        rulesval: String,
        id: String,
        name: String
    },
    mounted: function () {
    },
    watch: {},
    created: function () { },
    computed: {
        value: {
            get() {
                return this.$attrs.value;
            },
            set(val) {
                this.$emit("input", val);
            }
        }
    },
    data: function () {
        return {
            dias: ["LUNES", "MARTES", "MIERCOLES", "JUEVES", "VIERNES", "SABADO", "DOMINGO"]
        };
    },
    template: "#diastemplate",
    methods: {},
}
</script>

<template>
    <validation-provider :rules="rulesval" v-slot="{ dirty, valid, invalid, errors }">
        <select class="form-control" v-bind:class="{ 'is-valid': dirty && valid, 'is-invalid': dirty && invalid }" :id="id"
            :name="name" v-model="value">
            <option value="0">--Seleccione--</option>
            <option v-for="(d, key) in dias" :value="++key" :key="key">{{ d }}</option>
        </select>
        <div v-if="rulesval" :class="`d-inline-block ${dirty && valid ? 'valid-feedback' : 'invalid-feedback'}`"
            v-show="errors">{{ errors[0] }}</div>
    </validation-provider>
</template>

<style type="text/css"></style>