<template>
  <div
    class="modal fade"
    :id="id"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <slot name="title"> Default title </slot>
          </h5>
        </div>
        <div class="modal-body">
          <slot name="body"> Default body content </slot>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            ref="cancelButton"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            <slot name="btncancel"> Cancel </slot>
          </button>
          <button type="button" ref="confirmButton" class="btn btn-primary">
            <slot name="btnconfirm"> Accept </slot>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {
  ref,
  onMounted,
  defineProps,
  getCurrentInstance,
  computed,
  defineExpose,
} from "vue";

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
});

const dialog = ref(null);
const cancelButton = ref("");
const confirmButton = ref("");
const mainContentRef = ref(0);

onMounted(() => {
  let instance = getCurrentInstance();

  let modalElement = document.getElementById(props.id);

  dialog.value = new bootstrap.Modal(modalElement, {
    keyboard: false,
    backdrop: "static",
    focus: true,
  });
});

const showDialog = async () => {
  dialog.value.show();
  return new Promise((resolve) => {
    $(confirmButton.value).on("click", (e) => {
      dialog.value.hide();
      resolve(true);
    });

    $(cancelButton.value).on("click", (e) => {
      dialog.value.hide();
      resolve(false);
    });
  });
};

defineExpose({
  showDialog,
  mainContentRef,
});
</script>

<style type="text/css"></style>
