<template>
    <div class="card">
        <div class="card-header main">
            <h5 class="card-title"></h5>
        </div>
        <Form>
            <div class="card-body">
                <div v-for="{ as, name, label, children, ...attrs } in schema.fields" :key="name">
                    <label :for="name">{{ label }}</label>
                    <Field :as="as" :id="name" :name="name" v-bind="attrs" class="form-control">
                        <template v-if="children && children.length">
                            <component v-for="({ tag, text, ...childAttrs }, idx) in children" :key="idx" :is="tag"
                                v-bind="childAttrs">
                                {{ text }}
                            </component>
                        </template>
                    </Field>
                    <ErrorMessage :name="name" class="d-inline-block invalid-feedback" />
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start">
                        <a href="#!" onclick="history.back()">Cancelar</a>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button type="submit" :disabled="isSubmitting"
                            :class="{ 'ld-ext-right': true, 'btn btn-success': true, 'running': isSubmitting }">
                            <i class="bi bi-check-lg"></i> Guardar
                            <div class="ld">
                                <img src="<?= base_url('dist/images/loading.gif'); ?>" style="font-size:1em" />
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </Form>
    </div>
</template>
<script>
import { Form, Field, ErrorMessage } from 'vee-validate';
export default {
    name: 'DynamicForm',
    components: {
        Form,
        Field,
        ErrorMessage
    },
    props: {
        schema: {
            type: Object,
            required: true,
        },
    },
};
</script>