<template>
  <div
    class="modal fade"
    :id="idmodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <slot name="title"> Default title </slot>
          </h5>
        </div>
        <ValidationForm
          :validation-schema="vschema"
          @submit="onSubmit($event)"
          v-slot="{ isSubmitting }"
        >
          <div class="modal-body">
            <div
              v-for="{
                as,
                type,
                name,
                label,
                children,
                ...attrs
              } in Object.values(schema.fields)"
              :key="name"
            >
              <!-- <template v-if="as != 'select'"> -->
              <label :for="name">{{ label }}</label>
              <Field
                :as="as"
                v-slot="{ field, errors }"
                :name="name"
                :id="name"
                :type="type"
                v-model="formdata[name]"
                :class="`${type != 'checkbox' && type != 'radio' ? 'form-control' : ''}`"
                v-bind="attrs"
              >
                <template v-if="children && children.length">
                  <component
                    v-for="({ tag, text, ...childAttrs }, idx) in children"
                    :key="idx"
                    :is="tag"
                    v-bind="childAttrs"
                  >
                    {{ text }}
                  </component>
                </template>
                <!-- <input
                    :type="type"
                    :name="name"
                    :class="`form-control ${
                      errors.length ? 'is-invalid' : 'is-valid'
                    }`"
                    v-bind="field"
                  /> -->
              </Field>
              <ErrorMessage
                  as="span"
                  :name="name"
                  class="d-inline-block invalid-feedback"
                />
              <!-- </template>
              <template v-else>
                <Field as="select" :name="name" :id="name" class="form-control">
                  
                </Field>
                <ErrorMessage
                  as="span"
                  :name="name"
                  class="d-inline-block invalid-feedback"
                />
              </template> -->
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              ref="cancelButton"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              <slot name="btncancel"> Cancel </slot>
            </button>
            <button
              type="submit"
              :disabled="isSubmitting"
              ref="confirmButton"
              :class="{
                'ld-ext-right': true,
                'btn btn-success': true,
                running: isSubmitting,
              }"
            >
              <i class="bi bi-check-lg"></i>
              <slot name="btnconfirm"> Accept </slot>
            </button>
          </div>
        </ValidationForm>
      </div>
    </div>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import Switch from './Switch.vue';
import * as yup from "yup";

export default {
  name: "DynamicModalForm",
  components: {
    ValidationForm: Form,
    Field,
    ErrorMessage
  },
  props: {
    idmodal: {
      type: String,
      required: true,
    },
    schema: {
      type: Object,
      required: true,
    },
    vschema: {
      type: Object,
      required: true,
      default: yup.object(),
    },
    formdata: {
      type: Object,
      required: true,
    },
  },
  created: function () {},
  mounted: function () {
    let modalElement = document.getElementById(this.idmodal);

    this.dialog = new bootstrap.Modal(modalElement, {
      keyboard: false,
      backdrop: "static",
      focus: true,
    });
  },
  watch: {},
  created: function () {},
  data: function () {
    return {
      dialog: null,
    };
  },
  methods: {
    async showDialog() {
      let _this = this;
      this.dialog.show();
    },
    async hideDialog() {
      let _this = this;
      this.dialog.hide();
    },
    onSubmit(values) {
      this.$emit('submit', values);
    },
  },
};
</script>

<style type="text/css"></style>
