<template>
    <div class="modal fade" :id="id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <slot name="title"> Default title </slot>
                    </h5>
                </div>
                <div class="modal-body">
                    <slot> Default body content </slot>
                </div>
                <div class="modal-footer">
                    <button type="button" ref="cancelButton" class="btn btn-secondary" data-dismiss="modal">
                        <slot name="btncancel"> Cancel </slot>
                    </button>
                    <button type="button" ref="confirmButton" class="btn btn-primary">
                        <slot name="btnconfirm"> Accept </slot>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    props: {
        id: {
            type: String
        }
    },
    created: function () { },
    mounted: function () {
        let modalElement = document.getElementById(this.id);

        this.dialog = new bootstrap.Modal(modalElement, {
            keyboard: false,
            backdrop: 'static',
            focus: true
        });
    },
    watch: {},
    created: function () { },
    data: function () {
        return {
            dialog: null
        };
    },
    methods: {
        async showDialog() {
            let _this = this;
            this.dialog.show();
            return new Promise(resolve => {
                $(this.$refs['confirmButton']).on('click', (e) => {
                    _this.dialog.hide();
                    resolve(true);
                });

                $(this.$refs['cancelButton']).on('click', (e) => {
                    _this.dialog.hide();
                    resolve(false);
                });
            });
        }
    },
}
</script>

<style type="text/css"></style>