<template>
  <label class="col-form-label" :for="name">{{ label }}</label>
  <select
    :class="`form-control ${errorMessage ? 'is-invalid' : 'is-valid'}`"
    :name="name"
    :id="name"
    @change="onChange($event)"
    @blur="handleBlur"
    :value="inputValue"
    :disabled="disabled"
  >
    <option value="0">--Seleccione--</option>
    <option :value="item.id" v-for="(item, key) in items" :key="key">
      {{ item.text }}
    </option>
  </select>

  <span
    :class="`d-inline-block ${
      errorMessage ? 'invalid-feedback' : 'valid-feedback'
    }`"
    v-show="errorMessage"
  >
    {{ errorMessage }}
  </span>
</template>

<script>
import { watch, ref, onMounted, toRef } from "vue";
import { useField } from "vee-validate";
import { getData } from "../js/util/fetchhandler";
// import { errorMessage } from "../js/util/notifications";

export default {
  props: {
    modelValue: {
      type: [Number, String],
      default: "0",
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    urlPath: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const items = ref([]);

    const {
      value: inputValue,
      errorMessage,
      handleBlur,
      handleChange,
      meta,
    } = useField(props.name, 0, {
      syncVModel: true,
      validateOnValueUpdate: true,
      validateOnMount: true
    });

    onMounted(() => {
        // getItems();
    });

    const onChange = (event) => {
      handleChange(event, true);
      emit("update:modelValue", event.target.value);
    };
    
    const getItems = () => {
      getData(`${APP.BASEURL}${props.urlPath}`).then(function (data) {
        items.value = data;
      });
    };

    watch(() => props.urlPath, (first, second) => {
      getItems();
    },{immediate: true});

    return {
      onChange,
      handleChange,
      handleBlur,
      errorMessage,
      inputValue,
      meta,
      items,
    };
  }
};
</script>

<style type="text/css"></style>
