<script>
import { isEmptyObject } from "../js/util/utils";

export default {
  props: {
    filterparams: {
      type: Object,
      default() {
        return {};
      },
    },
    id: String,
    rulesval: {
      type: String,
      default() {
        return "";
      },
    },
    url: String,
    settings: {
      type: Object,
      default() {
        return {
          propId: "id",
          propText: "text",
        };
      },
    },
    callbackprocessresults: {
      type: Function,
      default(data) {
        // Tranforms the top-level key of the response object from 'items' to 'results'
        let result = [];
        result = data.items.map((item) => ({
          ...item,
          id: item[this.settings.propId],
          text: item[this.settings.propText],
        }));
        // result = data.items;
        return {
          results: result,
        };
      },
    },
  },
  mounted() {
    // this.init();
  },
  data: function () {
    return {
      options: [],
    };
  },
  computed: {
    value: {
      get() {
        return this.$attrs.value;
      },
      set(val) {
        if (isEmptyObject(val)) {
          this.selected = "";
        } else {
          this.selected = val[this.settings.propId];
        }

        this.$emit("input", val);
      },
    },
    computedForm() {
      return this.$parent.$parent.$refs.ValidationObserver;
    },
  },
  watch: {
    value: {
      immediate: false,
      handler(newVal, oldVal) {},
    },
    filterparams: {
      immediate: true,
      handler(newVal, oldVal) {
        this.createUrlRequest();
      },
    },
  },
  methods: {
    onSearch(search, loading) {
      if (search.length) {
        loading(true);
        this.search(loading, search, this);
      }
    },
    search: _.debounce((loading, search, vm) => {
      let object = vm.createUrlRequest();
      object.search = search;
      let params = new URLSearchParams(object);
      fetch(`${APP.BASEURL}/${vm.url}?${params.toString()}`).then((res) => {
        res.json().then((json) => (vm.options = json));
        loading(false);
      });
    }, 350),
    triggerChange(val) {
      this.value = val;
    },
    removeOption(e) {
      this.value = {};
    },
    createUrlRequest() {
      let filtersArray = {};
      //parametros por defecto
      if (!isEmptyObject(this.filterparams)) {
        Object.entries(this.filterparams).forEach(([key, value]) => {
          filtersArray[key] = value;
        });
      }
      // const searchParams = new URLSearchParams(this.filters);
      // let url =  `${app.config.urls.baseurl}/${this.url}?${searchParams.toString()}`;
      return filtersArray;
    },
    async blur() {
      let valid = await this.$children[0].validate();
      return valid;
    },
  },
};
</script>

<template>
  <!-- <validation-provider :rules="rulesval" v-slot="{ dirty, valid, invalid, errors }">
        <select class="form-control" :id="id" style="width: 100%"
            v-bind:class="{ 'is-valid': dirty && valid, 'is-invalid': dirty && invalid }">
        </select>
        <div :class="`d-inline-block ${dirty && valid ? 'valid-feedback' : 'invalid-feedback'}`" v-show="errors">{{
            errors[0] }}</div>
    </validation-provider> -->
  <validation-provider
    :name="id"
    :rules="rulesval"
    v-slot="{ dirty, valid, errors }"
    ref="ValidationProvider"
  >
    <v-select
      label="name"
      :filterable="false"
      :options="options"
      v-model="value"
      @search="onSearch"
      @input="triggerChange"
      :class="{ 'is-invalid': !!errors.length }"
      @search:blur="blur"
    >
      <template slot="no-options"> Escriba algo para buscar </template>
      <template #search="{ attributes, events }">
        <input class="vs__search" v-bind="attributes" v-on="events" />
      </template>
      <template slot="option" slot-scope="option">
        <div class="d-center">
          {{ option.text }}
        </div>
      </template>
      <template slot="selected-option" slot-scope="option">
        <div class="selected d-center">
          {{ option.text }}
        </div>
      </template>
    </v-select>
    <div
      :class="`d-inline-block ${
        dirty && valid ? 'valid-feedback' : 'invalid-feedback'
      }`"
      v-show="errors"
    >
      {{ errors[0] }}
    </div>
  </validation-provider>
</template>

<style type="text/css">
.vs--searchable.is-invalid > .vs__dropdown-toggle {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.vs--searchable.is-valid > .vs__dropdown-toggle {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
</style>
