<template>
    <div class="input-field col-sm-12">
        <label :for="name">{{ label }}</label>
        <div class="dropzone col-12">
            <div class="info"></div>
        </div>
        <input type="hidden" class="image-url" :name="name" :id="name">
    </div>
</template>

<script>
import imgur from '../js/util/imgur.js';

export default {
    props: {
        modelValue: {
            type: String
        },
        label: {
            type: String
        },
        name: {
            type: String,
            required: true
        }
    },
    mounted() {
        this.config = new imgur({
            clientid: "4a82829b0ba5c13", //You can change this ClientID
            callback: (res) => {
                if (res.success === true) {
                    let src = res.data.link.replace(/^http:\/\//i, "https://");
                    document.querySelector(".status").classList.add("bg-success");
                    if ($(`#${this.name}`).length > 0) {
                        $(`#${this.name}`).val(src);
                        // this.data.imagenurl = get_link;
                        emit('change:modelValue', src)
                    }
                }
            }
        });
    },
    data() {
        return {
            config: null
        }
    },
}
</script>
<style>
@charset "UTF-8";

/* Imgur Upload Style */

body.is_loading .loading-modal {
    display: block
}

.title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 75%;
    cursor: pointer;
}

.info {
    margin-top: 11%;
}

.dropzone p {
    /*height: 100%;*/
    /*line-height: 200px;*/
    margin: 0%;
    text-align: center;
    width: 100%
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.status {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-url {
    width: 50%;
}

.dropzone.dropzone-dragging {
    border-color: #000
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.img {
    width: 100%;
}
</style>