<template>
  <div class="input-group">
    <label :for="name" class="col-form-label">{{ label }}</label>
    <div class="input-group">
      <span class="input-group-text">{{ symbol }}</span>
      <input type="text" :name="name" :id="name" v-model="value" :placeholder="placeholder" 
        @input="onInput($event)"
        @blur="onBlur($event)" 
        @keypress="filterValue($event)"
        :class="`form-control ${errorMessage ? 'is-invalid' : 'is-valid'}`" :disabled="disabled" />

      <span :class="`d-inline-block ${errorMessage ? 'invalid-feedback' : 'valid-feedback'}`" v-show="errorMessage">
        {{ errorMessage }}
      </span>
    </div>
  </div>
</template>

<script>
import { useField } from "vee-validate";
import { filterFloat } from "../js/util/utils";

export default {
  props: {
    modelValue: {
      type: [Number, String],
      default: 0.0
    },
    symbol: {
      type: String,
      default: "$"
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    successMessage: {
      type: String,
      default: "",
    },
    placeholder: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    valueString: function () {
      return parseFloat(this.value.replace(",", "."));
    }
  },
  setup(props, { emit }) {
    const {
      value,
      errorMessage,
      handleBlur,
      handleChange,
      meta,
    } = useField(props.name, undefined, {
      syncVModel: true
    });

    const onInput = (event) => {
      handleChange(event, true)
      emit('update:modelValue', event.target.value)
    }
    const onBlur = (event) => {
      handleChange(event, true)
      if (event.target.value == "") {
        event.target.value = "0.00";
      } else {
        event.target.value = event.target.value.replace(",", ".");
      }
      emit('update:modelValue', event.target.value)
    }

    const filterValue = (event) => {
      if(filterFloat(event, event.target)){
        return true;
      }
      event.preventDefault();
    }

    return {
      onInput,
      onBlur,
      filterValue,
      handleChange,
      handleBlur,
      errorMessage,
      value,
      meta,
    };
  },
  methods: {
  },
};
</script>


<style type="text/css"></style>
