<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="featureProductModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="featureProductModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="featureProductModalLabel">
            Característica de producto
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form @submit="submitForm" v-if="datavm">
          <div class="modal-body">
            <div v-if="action == 'delete'" class="alert alert-warning">
              <p>
                <i class="bi bi-info-circle"></i> ¿Desea eliminar esta
                característica del producto?
              </p>
            </div>
            <div class="row">
              <div class="col-3">
                <GenericSelect
                  name="feature_id"
                  :disabled="action == 'delete'"
                  url-path="/api/features/select"
                  v-model="datavm.feature_id"
                  label="Característica"
                ></GenericSelect>
              </div>
              <div class="col-3">
                <GenericSelect
                  name="value_id"
                  :disabled="action == 'delete'"
                  :url-path="`/api/featuresvalues/select/${datavm.feature_id}`"
                  v-model="datavm.value_id"
                  label="Seleccione Valor"
                ></GenericSelect>
              </div>
              <div class="col-6">
                <TextInput
                  name="custom_value"
                  :disabled="action == 'delete'"
                  type="text"
                  v-model="datavm.custom_value"
                  label="Valor personalizado"
                >
                </TextInput>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              ref="cancelButton"
              class="btn btn-secondary"
              @click="closeModal"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              v-if="action != 'delete'"
              ref="confirmButton"
              class="btn btn-primary"
              :disabled="!meta.valid"
            >
              Guardar
            </button>
            <button
              type="submit"
              v-if="action == 'delete'"
              ref="deleteButton"
              class="btn btn-danger"
            >
              Eliminar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, getCurrentInstance, defineExpose } from "vue";
import { Form, useForm } from "vee-validate";
import * as yup from "yup";
import GenericSelect from "./GenericSelect.vue";
import TextInput from "./TextInput.vue";
import {
  deleteData,
  getData,
  postData,
  putData,
} from "../js/util/fetchhandler";

const props = defineProps({
  product_id: {
    type: [Number, String],
    required: true,
  },
});

const emit = defineEmits(["close"]);

let dialog = ref(null);
let datavm = ref(null);
let action = ref("");
const open = ref(false);

const vschema = yup.object({
  feature_id: yup.string().required().required_select("Campo requerido"),
  custom_value: yup.string().nullable().max(250),
});

// Get function used to handle form submission and set validation schema
const { handleSubmit, meta, resetForm } = useForm({
  validationSchema: vschema,
});

onMounted(() => {
  let instance = getCurrentInstance();
  let modalElement = document.getElementById("featureProductModal");

  dialog = new bootstrap.Modal(modalElement, {
    keyboard: false,
    backdrop: "static",
    focus: true,
  });
});

const onInvalidSubmit = () => {
  console.log("error");
  // Form is invalid
  // U can shake the submit button and inform the user in your way
};

const openModal = (id, _action) => {
  // The Form will get registerd and validated on setup function.
  // So it will be invalid before we open the modal.
  // We have to reset it here.
  action.value = _action;
  getData(`${APP.BASEURL}api/productsfeatures/${id == 0 ? "new" : id}`).then(
    (data) => {
      datavm.value = data;
      dialog.show();
      // resetForm();
    }
  );
  open.value = true;
};

const submitForm = handleSubmit((values) => {
  if (action.value == "delete") {
    deleteData(
      `${APP.BASEURL}api/productsfeatures/${datavm.value.id}`,
      datavm.id
    ).then((result) => {
      closeModal();
    });
  }

  if (action.value == "create") {
    datavm.value.product_id = props.product_id;
    postData(`${APP.BASEURL}api/productsfeatures`, datavm.value).then(
      (result) => {
        if (result.status) {
          closeModal();
          openModal(0, "create");
        }else{
          alert("Ha ocurrido un error");
        }
      }
    );
  }

  if (action.value == "update") {
    putData(
      `${APP.BASEURL}api/productsfeatures`,
      datavm.value.id,
      datavm.value
    ).then((result) => {
      if (result.status) {
          closeModal();
        }else{
          alert("Ha ocurrido un error");
        }
    });
  }
}, onInvalidSubmit);

const closeModal = () => {
  open.value = false;
  emit("close");
  // resetForm();
  dialog.hide();
};

defineExpose({
  openModal,
  closeModal,
});
</script>
