<template>
  <div v-if="modeView == 'grid'">
    <div class="product-wrap">
      <div class="product text-center shadow-media product-with-qty">
        <figure class="product-media" style="background-color: #f5f5f5">
          <a :href="`catalogue/product/${dataProduct.id}`">
            <img alt="product" :src="`${dataProduct.main_image ? ('/api/file/' + dataProduct.main_image) : 'dist/images/not-image.svg'
    }`" width="280" height="315" />
          </a>
          <div class="product-label-group">
            <label class="product-label label-new" v-if="dataProduct.is_new">Nuevo</label>
            <label class="product-label label-sale" v-if="bulk_price && bulk_price.discount > 0">
              {{ formatterPercent(bulk_price.discount) }} OFF</label>
          </div>
          <div class="product-action">
            <!-- <a href="#" class="btn-product btn-quickview" title="Quick View"
              >Vista rápida</a
            > -->
          </div>
        </figure>
        <div class="product-details">
          <div class="product-cat">
            <a href="#">{{ dataProduct.category }}</a>
          </div>
          <!-- <div class="product-cat" v-if="dataProduct.code">
            <a href="#">{{ dataProduct.code }}</a>
          </div> -->
          <h3 class="product-name">
            <a :href="`catalogue/product/${dataProduct.id}`">{{
    dataProduct.name
  }}</a>
          </h3>
          <div class="product-price" v-if="bulk_price">
            <ins class="new-price">
              {{ formatterCurrency(bulk_price.exchange_sale_price) }}</ins><del class="old-price"
              v-if="bulk_price.discount > 0">{{
    formatterCurrency(bulk_price.exchange_original_sale_price)
  }}</del><br>
            <span class="text-secondary small">Un: {{ formatterCurrency(bulk_price.exchange_unit_sale_price) }}</span>
          </div>
          <div class="ratings-container" v-if="bulkPrices.length > 0">
            <label :for="`bulk_price_${dataProduct.id}_${price.max_bulk}`" v-for="(price, index) in bulkPrices"
              :key="index">
              <input type="radio" :id="`bulk_price_${dataProduct.id}_${price.max_bulk}`" @click="setBulkPrice(price)"
                :name="`bulk_price_${dataProduct.id}`" :value="price.id" v-model="bulk_price_id" />
              X{{ price.max_bulk }}
            </label>
          </div>
          <div class="product-action">
            <div class="product-quantity">
              <button class="quantity-minus d-icon-minus" @click="setQuantity(-1)"
                v-if="bulk_price.allow_select_qty == 1"></button>
              <input class="quantity form-control" type="number" min="1" max="1000000"
                :name="`quantity-product-${dataProduct.id}`" v-model="quantity" />
              <button class="quantity-plus d-icon-plus" @click="setQuantity(1)"
                v-if="bulk_price.allow_select_qty == 1"></button>
            </div>
            <a href="#" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal"
              title="Agregar al pedido" @click="addCart"><i class="d-icon-bag"></i><span>Agregar</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="product product-list product-with-qty">
      <figure class="product-media">
        <a :href="`catalogue/product/${dataProduct.id}`">
          <img :src="`${dataProduct.main_image ? ('/api/file/' + dataProduct.main_image) : 'dist/images/not-image.svg'
    }`" alt="product" width="260" height="293" />
        </a>
        <div class="product-label-group">
          <label class="product-label label-new" v-if="dataProduct.is_new">Nuevo</label>
          <label class="product-label label-sale" v-if="bulk_price && bulk_price.discount > 0">
            {{ formatterPercent(bulk_price.discount) }} OFF</label>
        </div>
      </figure>
      <div class="product-details">
        <div class="product-cat">
          <a href="#">{{ dataProduct.category }}</a>
        </div>
        <!-- <div class="product-cat" v-if="dataProduct.code">
          <a href="#">{{ dataProduct.code }}</a>
        </div> -->
        <h3 class="product-name">
          <a :href="`catalogue/product/${dataProduct.id}`">{{
    dataProduct.name
  }}</a>
        </h3>
        <div class="product-price" v-if="bulk_price">
          <ins class="new-price">
            {{ formatterCurrency(bulk_price.exchange_sale_price) }}</ins>
          <del class="old-price" v-if="bulk_price.discount > 0">{{
    formatterCurrency(bulk_price.exchange_original_sale_price)
  }}</del>
          <span class="text-secondary small">Un: {{ formatterCurrency(bulk_price.exchange_unit_sale_price) }}</span>
        </div>
        <div class="ratings-container" v-if="bulkPrices.length > 0">
          <label :for="`bulk_price_${dataProduct.id}_${price.max_bulk}`" v-for="(price, index) in bulkPrices"
            :key="index">
            <input type="radio" :id="`bulk_price_${dataProduct.id}_${price.max_bulk}`" @click="setBulkPrice(price)"
              :name="`bulk_price_${dataProduct.id}`" :value="price.id" v-model="bulk_price_id" />
            X{{ price.max_bulk }}
          </label>
        </div>
        <p class="product-short-desc" v-if="dataProduct.description" v-html="dataProduct.description">
        </p>
        <div class="product-action">
          <div class="product-quantity">
            <button class="quantity-minus d-icon-minus" @click="setQuantity(-1)"
              v-if="bulk_price.allow_select_qty == 1"></button>
            <input class="quantity form-control" type="number" min="1" max="1000000"
              :name="`quantity-product-${dataProduct.id}`" v-model="quantity" />
            <button class="quantity-plus d-icon-plus" @click="setQuantity(1)"
              v-if="bulk_price.allow_select_qty == 1"></button>
          </div>
          <a href="#" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal"
            title="Agregar al pedido" @click="addCart"><i class="d-icon-bag"></i><span>Agregar</span></a>
          <!-- <a
            href="#"
            class="btn-product-icon btn-wishlist"
            title="Add to wishlist"
            ><i class="d-icon-heart"></i
          ></a> -->
          <!-- <a
            href="#"
            class="btn-product-icon btn-quickview"
            title="Vista rápida"
            ><i class="d-icon-search"></i
          ></a> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import useCartStore from "../stores/cart";

import {
  ref,
  onMounted,
  getCurrentInstance,
  defineExpose,
  computed,
  watch,
} from "vue";

const props = defineProps({
  modeView: {
    type: String,
  },
  dataProduct: {
    type: Object,
    required: true,
  },
  currency: {
    type: String,
    required: true,
  },
});


const bulk_price = ref(null);
const bulk_price_id = ref(null);
const quantity = ref(1);

const emit = defineEmits(["addCart"]);

const formatterPercent = (val) => {
  let percent = val / 100;
  return new Intl.NumberFormat("es-AR", {
    style: "percent",
    maximumFractionDigits: 2,
  }).format(percent);
};

const formatterCurrency = (val) => {
  if (props.currency == "USD") {
    return new Intl.NumberFormat("es-AR", {
      style: "currency",
      currency: "USD",
    }).format(val);
  } else {
    return new Intl.NumberFormat("es-AR", {
      style: "currency",
      currency: "ARS",
    }).format(val);
  }
};

const setBulkPrice = (selected_bulk_price) => {
  bulk_price.value = selected_bulk_price;
};

const setQuantity = (val) => {
  quantity.value += val;
};

const addCart = async () => {
  let dataCart = {
    id: props.dataProduct.id,
    quantity: quantity.value,
    name: `${props.dataProduct.name}`,
    unit_price: bulk_price.value.sale_price,
    //options
    bulk_items: bulk_price.value.max_bulk,
    bulk_price: bulk_price.value.sale_price,
    bulk_unit_price: bulk_price.value.unit_sale_price,
    image: props.dataProduct.main_image
  };
  // let response = await services.shoppingcart.add(dataCart);
  useCartStore.addItem(dataCart);

  // if (response.status) {
  //   Riode.Minipopup.open({
  //     message: "Agregado correctamente",
  //     productClass: "product-cart",
  //     name: dataCart.name,
  //     nameLink: props.dataProduct.main_image,
  //     imageSrc: props.dataProduct.main_image,
  //     imageLink: props.dataProduct.main_image,
  //     price: dataCart.unit_price,
  //     count: dataCart.qty,
  //     actionTemplate:
  //       '<div class="action-group d-flex mt-3"><a href="cart.html" class="btn btn-sm btn-outline btn-primary btn-rounded mr-2">View Cart</a><a href="checkout.html" class="btn btn-sm btn-primary btn-rounded">Check Out</a></div>',
  //   });
  // }
};

onMounted(() => {
  let instance = getCurrentInstance();
});

const bulkPrices = computed(() => {
  let default_bulk_price = {
    id: null,
    max_bulk: 1,
    allow_select_qty: 1,
    original_sale_price: Number(props.dataProduct.original_sale_price),
    sale_price: Number(props.dataProduct.sale_price),
    exchange_unit_sale_price: Number(props.dataProduct.exchange_sale_price),
    unit_sale_price: Number(props.dataProduct.sale_price),
    exchange_original_sale_price: Number(
      props.dataProduct.exchange_original_sale_price
    ),
    exchange_sale_price: Number(props.dataProduct.exchange_sale_price),
    discount: Number(props.dataProduct.discount_percentage),
  };

  let bulk_prices = JSON.parse(
    props.dataProduct.bulk_prices.substring(
      1,
      props.dataProduct.bulk_prices.length - 1
    )
  );

  if (bulk_prices.length > 0) {
    bulk_prices.push(default_bulk_price);
  }

  setBulkPrice(default_bulk_price);

  return bulk_prices.sort((a, b) => {
    return a.max_bulk - b.max_bulk;
  });
});

defineExpose({});
</script>
