<template>
    <label class="col-form-label d-flex justify-content-center" :for="name">{{ label }}</label>
    <div class="custom-control custom-switch d-flex justify-content-center">
        <input type="checkbox" 
                :class="{ 'is-invalid': !!errorMessage, 'is-valid': meta.valid, 'custom-control-input': true }" 
                :id="name" 
                :name="name" 
                v-model="inputValue"
                @change="onChange($event)">
        <label class="custom-control-label" :for="name"></label>
    </div>
    <span :class="`d-inline-block ${errorMessage ? 'invalid-feedback' : 'valid-feedback'}`" v-show="errorMessage">
        {{ errorMessage }}
    </span>
</template>

<script>
import { useField } from 'vee-validate';
export default {
    props: {
        modelValue: {
            type: [Boolean, String],
            default: "0",
        },
        name: {
            type: String,
            required: true,
        },
        label: {
            type: String,
            default: ""
        }
    },
    setup(props, { emit }) {
        const {
            value: inputValue,
            errorMessage,
            handleBlur,
            handleChange,
            meta,
        } = useField(props.name, true, {
            syncVModel: true
        });

        const onChange = (event) => {
            handleChange(event, true)
            inputValue.value =  event.target.checked;
            emit('update:modelValue', event.target.checked)
        }

        return {
            onChange,
            handleChange,
            handleBlur,
            errorMessage,
            inputValue,
            meta
        };
    },
    computed: {
    },
    data: function () {
        return {
        };
    },
    methods: {}
}
</script>

<style type="text/css"></style>
