<template>
    <label for="" class="col-form-label">{{ label }}</label>
    <ckeditor :editor="editor" :model-value="modelValue" :config="editorConfig" tag-name="textarea" :disabled="disabled"
        @input="onEditorInput"></ckeditor>
</template>

<script>
import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import '@ckeditor/ckeditor5-build-classic/build/translations/es';

export default {
    props: {
        modelValue: {
            type: String,
            default: "",
        },
        name: {
            type: String,
            required: true,
        },
        label: {
            type: String,
            required: true
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    components: {
        ckeditor: CKEditor.component
    },
    data() {
        return {
            editor: ClassicEditor,
            editorConfig: {
                language: 'es'
            }
        }
    },
    methods: {
        onEditorInput(value, b) {
            console.log(value);
            this.$emit('update:modelValue', value)
        }
    }
}
</script>
